﻿<div id="cookbook">
    <search-panel v-on:search-input-changed="handleSearchInputChanged"></search-panel>
    <component v-bind:is="currentView"
               v-bind:id="id"
               v-on:recipe-selected="handleRecipeSelected"
               class="main-content"></component>
</div>