﻿@{
    ViewBag.Title = "Cookbook";
}
@section SPAViews {
    @Html.Partial("_Index")
}
@section Scripts{
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/vueapp")
}
<template id="searchPanelComponent">
    <div>
        <h2>Szukaj przepisu</h2>
        <input v-model="searchInput" placeholder="Podaj nazwę przepisu" />
    </div>
</template>
<template id="recipeListComponent">
    <div>
        <recipe v-for="r in recipes"
                v-bind:key="r.id"
                v-bind:recipe="r"
                v-on:recipe-selected="$emit('recipe-selected', $event)"></recipe>
    </div>
</template>
<template id="recipeComponent">
    <div>
        <h2 v-on:click="$emit('recipe-selected', recipe.id)">{{ recipe.name }}</h2>
        <h4>{{ recipe.description }}</h4>
        <div>
            <img src="~/Content/Images/Clock.png" />
            <p>{{ recipe.preparationTime }} min.</p>
        </div>
    </div>
</template>
<template id="recipeDetailsComponent">
    <div>
        <h2>{{ recipe.name }}</h2>
        <h4>{{ recipe.description}}</h4>
        <div>
            <img src="~/Content/Images/Clock.png" />
            <p>{{ recipe.preparationTime }} min.</p>
        </div>
        <ingredients-group v-bind:ingredients="recipe.ingredients"
                           v-bind:name="'Składniki'"></ingredients-group>
        <recipe-point v-for="point in recipe.points"
                      v-bind:key="point.id"
                      v-bind:point="point"></recipe-point>
    </div>
</template>
<template id="ingredientsGroupComponent">
    <fieldset>
        <legend>{{ name }}</legend>
        <ingredient-list v-bind:ingredients="ingredients"></ingredient-list>
    </fieldset>
</template>
<template id="ingredientListComponent">
    <table>
        <tr v-for="ingredient in  ingredients"
            v-bind:key="ingredient.id">
            <td>{{ ingredient.ingredient.name }}</td>
            <td v-if="ingredient.amount !== null && ingredient.amount !== 0">X {{ ingredient.amount }}</td>
            <td v-else-if="ingredient.amount === null">X {{ ingredient.amountMin }} - {{ ingredient.amountMax }}</td>
            <td v-if="ingredient.unit !== null">{{ ingredient.unit.name }}</td>
        </tr>
    </table>
</template>
<template id="recipePointComponent">
    <fieldset>
        <legend v-if="point.name !== null">{{ point.number }}. {{ point.name }}</legend>
        <legend v-else>{{ point.number }}.</legend>
        <p v-if="point.preparationTime !== null">{{ point.preparationTime }} min.</p>
        <p>{{ point.text }}</p>
        <ingredients-group v-for="ig in point.ingredientsGroups"
                           v-bind:key="ig.id"
                           v-bind:ingredients="ig.ingredients"
                           v-bind:name="ig.name"></ingredients-group>
    </fieldset>
</template>